<div class="login-container" *ngIf="!isLoggedIn">
  <div class="login-card">
    <h2>Admin Login</h2>
    <div class="input-group">
      <input [(ngModel)]="username" placeholder="Username" />
    </div>
    <div class="input-group">
      <input [(ngModel)]="password" placeholder="Password" type="password" />
    </div>
    <button (click)="login()">Login</button>
  
  </div>
</div>

<div *ngIf="isLoggedIn" class="logged-in-container">
  <app-publisher-requests></app-publisher-requests>
</div>
